<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static',filename='Src/account/usercenter/usercenter.css') }}">
	<title>3st</title>
	<script>
		let toggleNavStatus = false;

		function toggleNav() {
			if (toggleNavStatus === false) {
				document.querySelector(".side-bar").classList.remove('control-coll')
				document.querySelector(".side-bar").classList.add('control-show')
				toggleNavStatus = true;
			} else if (toggleNavStatus === true) {
				document.querySelector(".side-bar").classList.remove('control-show')
				document.querySelector(".side-bar").classList.add('control-coll')
				toggleNavStatus = false;
			}
		}

		window.onload = function () {
			document.querySelector('.hamburg').addEventListener('click', function () {
				document.querySelector('.hamburg').style.display = "none"
				document.querySelector('.close-side').style.display = "block"
			})
			document.querySelector('.close-side').addEventListener('click', function () {
				document.querySelector('.hamburg').style.display = "block"
				document.querySelector('.close-side').style.display = "none"
			})
		}
	</script>
</head>

<body>
<header>
	<div></div>
	<div class="offset-left-nav">
		<span class="nav-brand-icon">★</span>
		<span class="nav-brand-text">index</span>
	</div>
	<div id="div_wide_rightuser">
		<img class="usericon img-circle" src="{{ url_for('static',filename='Media/img/icon/usericon.ico') }}">
		<span class="htmltext_username">null</span>
	</div>
</header>
<aside class="side-bar control-coll">
	<div class="toggle-hamburg-icon" onclick="toggleNav()">
		<i class="fa fa-bars hamburg"
		   style="padding: 0; z-index:999; display: block; width: 50px;height: 50px;background-color: yellow;">close</i>
		<i class="fa fa-times close-side"
		   style="padding: 0; z-index:999;width: 50px;height: 50px;background-color: red;">open</i>
	</div>
	<ul>
		<li class="active">
			<a href="#" class="alink" onclick="turnPage('/usercenter/basicinfo');SwitchNavLink_active(0)">基本信息</a>
			<a href="#" class="d50" onclick="turnPage('/usercenter/basicinfo');SwitchNavLink_active(0)">1</a>
		</li>
		<li>
			<a href="#" class="alink" onclick="turnPage('/usercenter/basicinfo');SwitchNavLink_active(1)">修改密码</a>
			<a href="#" class="d50" onclick="turnPage('/usercenter/basicinfo');SwitchNavLink_active(1)">2</a>
		</li>
		<li>
			<a href="#" class="alink" onclick="turnPage('/usercenter/setting');SwitchNavLink_active(2)">设置</a>
			<a href="#" class="d50" onclick="turnPage('/usercenter/setting');SwitchNavLink_active(2)">3</a>
		</li>
		<li>
			<a href="#" class="alink" onclick="turnPage('/usercenter/contact');SwitchNavLink_active(3)">Diss管理员</a>
			<a href="#" class="d50" onclick="turnPage('/usercenter/contact');SwitchNavLink_active(3)">4</a>
		</li>
		<li>
			<a href="/home" target="_blank" class="alink">蛤</a>
			<a href="/home" target="_blank" class="d50">5</a>
		</li>
	</ul>
</aside>
<div class="container offset-left-container">
	<div id="container_main"></div>
	This is 3 stop left side menu bar<br>
</div>
</body>
<script>
	function turnPage(url) {
		$.ajax({
			type: "get",
			url: url,
			async: true,	//使用同步的方式,true为异步方式
			success: function (html) {
				$("#container_main").html(html);
			}
		})
		$()
	}
</script>
</html>