<!------------------------------------广告------------------------------------------------------->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<!--水平页面指示器-->
	<ol class="carousel-indicators">
		<li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
		<li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
	</ol>
	<!--广告内容-->
	<div class="carousel-inner borderRad-md">
		<div class="carousel-item active">
			<advertisement style="background-color:wheat;"></advertisement>
			<div class="carousel-caption d-none d-md-block">
				<h1>广告位招租</h1>
				<p>guanggaoweizhaozu</p>
			</div>
		</div>
		<div class="carousel-item">
			<advertisement style="background-color:  rgb(100, 160, 250);"></advertisement>
			<div class="carousel-caption d-none d-md-block">
				<h5>empty</h5>
				<p>2</p>
			</div>
		</div>
		<div class="carousel-item">
			<advertisement style="background-color:  rgb(100, 200, 250);"></advertisement>
			<div class="carousel-caption d-none d-md-block">
				<h5>empty</h5>
				<p>3</p>
			</div>
		</div>
	</div>
	<!--"<"">"左右两个按钮-->
	<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
	   data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
	   data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>

<!------------------------------------广告------------------------------------------------------->
<hr>
<div class="container" id="div_gonggao">
	<table id="announcement_table">
		<thead>
			<td class="announcement_ID">编号</td>
			<td class="announcement_title">公告标题</td>
			<td class="announcement_author">作者</td>
			<td class="announcement_time">时间</td>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>

<script>
	$.post("/announcementlist_js_post/", function (data) {
		$("#announcement_table tbody").append(data)
	});
</script>